<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"
	charset="UTF-8" />

<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
<title>Acesso Negado</title>
</head>
<body>

	<!-- Navbar -->
	<nav>
		<div class="nav-wrapper">
			<a href="/dashboard" class="brand-logo center">DashBoard</a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				<li><a href="/dashboard"> Dashboard</a></li>
				<!-- Menu para os Administradores e Gerentes -->
				<li sec:authorize="hasRole('ADMIN') or hasRole('GERENTE')"><a
					class='dropdown-trigger' data-target='dropdown1' href="#"> Menu</a></li>
				<li><a href="javascript: document.logoutForm.submit()"
					role="menuitem"> Logout</a></li>
			</ul>
		</div>
	</nav>

	<form name="logoutForm" th:action="@{/logout}" method="post"
		th:hidden="true">
		<input type="hidden" value="Sign Out" />
	</form>

	<!-- Dropdown Structure -->
	<ul id="dropdown1" class="dropdown-content">
		<li><a href="/usuarios">Usuários</a></li>
		<li class="divider"></li>
		<li><a href="/veiculos">Veículos</a></li>
		<li class="divider"></li>
		<li><a href="/motoristas">Motoristas</a></li>
	</ul>
	<!-- Fim do Navbar -->

	<main>
		<div class="container" style="text-align: center; margin-top: 250px;">
			<h1>Acesso Negado</h1>
		</div>
	</main>

</body>
</html>