<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"
	charset="UTF-8" />

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />



<title>Serviço</title>
</head>
<body>
	<!-- Navbar -->
	<nav>
		<div class="nav-wrapper">
			<a href="/servico" class="brand-logo center">Serviços</a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				<li><a href="/dashboard"> Dashboard</a></li>
				<!-- Menu para os Administradores e Gerentes -->
				<li sec:authorize="hasRole('ADMIN') or hasRole('GERENTE')">
				<a class='dropdown-trigger' data-target='dropdown1'
					href="#"> Menu</a></li>
			</ul>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a class="btn waves-effect waves-light" href="/cadastroServico">Cadastro de Serviço</a></li>
			</ul>
		</div>
	</nav>
	<!-- Fim do Navbar -->


	<!-- Dropdown Structure -->
	<ul id="dropdown1" class="dropdown-content">
		<li><a href="/usuarios">Usuários</a></li>
		<li class="divider"></li>
		<li><a href="/veiculos">Veículos</a></li>
		<li class="divider"></li>
		<li><a href="/motoristas">Motoristas</a></li>
	</ul>
	
	<main>
		<div>
			<table class="striped centered responsive-table container">
				<thead>
					<tr>
						<th>Id</th>
						<th>Motorista</th>
						<th>Registro Veículo</th>
						<th>Distancia (KM)</th>
						<th>Abastecimento (L)</th>
						<th>Data Inicial</th>
						<th>Data Final</th>
						<th>Consumo (KM/L)</th>
						<th>Editar</th>
						<th>Excluir</th>
					</tr>
				</thead>
				<tbody>
				<tr th:each="servico: ${servicos}">
						<td th:text=${servico.id}></td>
						<td th:text=${servico.usuario}></td>
						<td th:text=${servico.veiculo}></td>
						<td th:text=${servico.distancia}></td>
						<td th:text=${servico.abastecimento}></td>
						<td th:text=${servico.dataInicial}></td>
						<td th:text=${servico.dataFinal}></td>
						<td th:text=${servico.consumo}>
						<td><a th:href="@{/editarServico/{idservico}(idservico=${servico.id})}">
							Editar</a></td>
						<td><a th:href="@{/removerServico/{idservico}(idservico=${servico.id})}">
							Excluir</a></td>
					</tr>
				</tbody>
			</table>
		</div>

	</main>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
		$('.dropdown-trigger').dropdown();
	</script>
</body>
</html>