<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"
	charset="UTF-8" />
	
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
	
<title>Cadastro de Serviço</title>
</head>
<body>
	<!-- Navbar -->
	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo center">Cadastro de Veículo</a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				<li><a href="/dashboard"> Dashboard</a></li>
				<li><a class='dropdown-trigger' data-target='dropdown1' href="#"> Menu</a></li>
			</ul>
		</div>
	</nav>
	<!-- Fim do Navbar -->


	<!-- Dropdown Structure -->
	<ul id="dropdown1" class="dropdown-content">
		<li><a href="/usuarios">Usuários</a></li>
		<li class="divider"></li>
		<li><a href="/veiculos">Veículos</a></li>
		<li class="divider"></li>
		<li><a href="/motoristas">Motorista</a></li>
	</ul>

	<main>
	<fieldset class="container">
		<legend>Cadastro</legend>
			<div class="row">
			<form action="/salvarveiculo" name="formlulario" method="post" class="col s12"
				  th:object="${veiculo}" onsubmit="return validar();" >
			<div class="row">
				<div class="input-field col s3">
				<label>Marca:</label>
				<input id="marca" type="text" name="marca" th:field="*{marca}"/> 
				</div>
			<div class="row">
				<div class="input-field col s3">   
				<label>Modelo:</label>
				<input id="modelo" type="text" name="modelo" th:field="*{modelo}"/>   
				</div>
				<div class="input-field col s2">
				<label>Ano:</label>
				<input id="ano" type="text" name="ano" th:field="*{ano}"/>    
				</div>
				<div class="input-field col s3"> 
				<label>Registro:</label>
				<input id="registro" type="text" name="registro" 
				placeholder="ano-Modelo-n°serie - Ex: 18-uno-01" th:field="*{registro}"/> 
				</div>
				<input id="id" type="hidden" readonly="readonly" name="id" th:field="*{id}" />
			</div>
				<div class="input-field col s12">				
				<button class="btn waves-effect waves-light" type="submit" >Salvar</button>
				</div>
			</div>
			</form>
			</div>
		</fieldset>
	</main>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
		$('.dropdown-trigger').dropdown();
	</script>
	
	<!-- validação do formulário -->
	<script type="text/javascript">
		function validar(){
			var marca = document.getElementById("marca");
			var modelo = document.getElementById("modelo");
			var ano = document.getElementById("ano");
			var registro = document.getElementById("registro");
			
			
			if (marca.value == "") {
				alert("Marca não informado")
				marca.focus();
				return false;
			}
			if (modelo.value == "") {
				alert("Modelo não informado")
				modelo.focus();
				return false;
			}
			if (ano.value == "") {
				alert("Ano não informado")
				ano.focus();
				return false;
			}
			if (registro.value == "") {
				alert("Registro não informado")
				registro.focus();
				return false;
			}
			alert("Cadastro realizado")
		}
	</script>
</body>
</html>