<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"
	charset="UTF-8" />

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />



<title>Dashboard</title>
</head>
<body>
	<!-- Navbar -->
	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo center">DashBoard</a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				<li><a href="/dashboard"> Dashboard</a></li>
				<li><a class='dropdown-trigger' data-target='dropdown1' href="#"> Menu</a></li>
			</ul>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a class="btn waves-effect waves-light" href="/serviço">Serviço</a></li>
			</ul>
		</div>
	</nav>
	<!-- Fim do Navbar -->


	<!-- Dropdown Structure -->
	<ul id="dropdown1" class="dropdown-content">
		<li><a href="/usuarios">Usuários</a></li>
		<li class="divider"></li>
		<li><a href="/veiculos">Veículos</a></li>
		<li class="divider"></li>
		<li><a href="/motoristas">Motoristas</a></li>
	</ul>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
		$('.dropdown-trigger').dropdown();
	</script>
</body>
</html>