<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8"/>

     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!--Import materialize.css-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
     
<title>Tela Inicial</title>
</head>
<body>
	<!-- Navbar -->
	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo center">Projeto Veículos</a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				<li><a class="btn waves-effect waves-light" href="/login">Acesso</a></li>
			</ul>
		</div>
	</nav>
	<!-- Fim do Navbar -->
	
	<main>
		<div class="container">
		<div class="row">
			<br/>
		</div>
		<div class="row">
      		<div class="col s3 m3">
	      	</div>
      		<div class="col s6 m6">
			<div class="card">
			<div class="card-image">
				<img src="img/cars.jpg"
	     		 alt="varios carros numa imagem em 2D no estilo desenho"
	     		 >
	      	</div>
	      	</div>
      		</div>
      	</div>
      	</div>
	</main>

</body>
</html>