<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"
	charset="UTF-8" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

<title>Cadastro de Gerente</title>
</head>
<body>
	<!-- Navbar -->
	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo center">Cadastro de Gerente</a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				<li><a href="/dashboard"> Dashboard</a></li>
				<li><a class='dropdown-trigger' data-target='dropdown1'
					href="#"> Menu</a></li>
			</ul>
		</div>
	</nav>
	<!-- Fim do Navbar -->


	<!-- Dropdown Structure -->
	<ul id="dropdown1" class="dropdown-content">
		<li><a href="/usuario">Usuários</a></li>
		<li class="divider"></li>
		<li><a href="/veiculo">Veículos</a></li>
		<li class="divider"></li>
		<li><a href="/admin">ADMIN</a></li>
	</ul>

	<main>
		<fieldset class="container">
			<legend>Cadastro</legend>
			<div class="row">
				<form th:action="@{/salvarGerente}" name="formlulario"
					th:object="${usuario}" method="post" class="col s12"
					onsubmit="return validar();">
					<div class="row">
						<div class="input-field col s4">
							<label>Nome:</label><input id="nome" type="text" value=""
								name="Nome" />
						</div>
						<div class="row">
							<div class="input-field col s3">
								<label>Login:</label><input id="login" type="text" value=""
									name="login" />
							</div>
							<div class="input-field col s3">
								<label>Senha:</label><input id="senha" type="password" value=""
									name="senha" />
							</div>
							<div class="input-field col s12">
								<label> Perfil: GERENTE
									</label>
							</div>
						</div>
						<div class="input-field col s6">
							<button class="btn waves-effect waves-light" type="submit">Salvar</button>
						</div>
					</div>
				</form>
			</div>
		</fieldset>
	</main>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
		$('.dropdown-trigger').dropdown();
	</script>

	<!-- validação do formulário -->
	<script type="text/javascript">
		function validar() {
			var login = document.getElementById("login");
			var senha = document.getElementById("senha");
			var nome = document.getElementById("nome");

			if (nome.value == "") {
				alert("Nome não informado")
				nome.focus();
				return false;
			}
			if (login.value == "") {
				alert("Login não informado")
				login.focus();
				return false;
			}
			if (senha.value == "") {
				alert("Senha não informada")
				senha.focus();
				return false;
			}
			alert("Cadastro realizado")
		}
	</script>
</body>
</html>